* {
    background-color: #0F0F0F;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 7px 16px;
}

nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.full-searchbar {
    display: none;
}

.header {
    display: flex;
    gap: 5px;
}

svg, img, i, .tag {
    cursor: pointer;
}

svg {
    fill: white;
    background-color: transparent;
}

input {
    background-color: #121212;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    border-radius: 20px 0 0 20px;
    padding: 0px 4px 0px 16px;
    width: 515px;
    height: 38px;
    outline: none;
    border: none;
    border: #303030 1px solid;
}

.input {
    display: flex;
}

.search-button {
    background-color: #222222;
    border-radius: 0 20px 20px 0;
    padding: 5px 20px;
    border: #303030 solid;
    border-width: 1px 1px 1px 0px;
}

.voice-search {
    width: 17px;
    border-radius: 50%;
    background-color: #222222;
    padding: 10px 11px;
}

.voice-search:hover {
    width: 17px;
    border-radius: 50%;
    background-color: #3D3D3D;
    padding: 10px 11px;
}

.buttons {
    display: flex;
    gap: 0px;
}

.camera, .bell {
    width: 24px;
    border-radius: 50%;
    background-color: transparent;
    padding: 8px;
    margin-right: 8px;
}

.camera:hover, .bell:hover {
    width: 24px;
    border-radius: 50%;
    background-color: #222222;
    padding: 8px;
}

.pfp {
    width: 33px;
    padding: 0 6px 0 6px;
}

i {
    margin: 0;
    padding: 0;
}

.menu {
    border-radius: 50%;
    background-color: transparent;
    padding: 8px;
    margin-right: 8px;
}

.menu:hover {
    border-radius: 50%;
    background-color: #222222;
    padding: 8px;
    margin-right: 8px;
}

.search-button-responsive, .voice-search-responsive {
    width: 24px;
    border-radius: 50%;
    background-color: transparent;
    padding: 8px;
    margin-right: 8px;
}

.search-button-responsive:hover, .voice-search-responsive:hover {
    width: 24px;
    border-radius: 50%;
    background-color: #222222;
    padding: 8px 3px 8px 9px;
}

.content {
    display: grid;
    grid-template-columns: 5% 95%;
    justify-content: center;
}

.menubar-desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-weight: 400;
    font-size: 8px;
    margin-top: 4px;
    padding: 0 4px 0 4px;
    background-color: transparent;
}

.home, .shorts, .subs, .you {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 16px 0 14px 0;
    width: 60px;
    cursor: pointer;
}

p, a {
    background-color: transparent;
}

.home:hover, .shorts:hover, .subs:hover, .you:hover {
    background-color: #222222;
    border-radius: 10px;
}

.categories {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    padding: 0 24px 0 24px;
}

.next {
    border-radius: 50%;
    background-color: transparent;
    padding: 8px;
    margin-left: 10px;
}

.next:hover {
    border-radius: 50%;
    background-color: #222222;
    padding: 8px;
    margin-left: 10px;
    cursor: pointer;
}

.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px 0 12px;
    margin: 12px 12px 12px 0;
    background-color: #222222;
    height: 31.997px;
    border-radius: 8px;
}

.tag:hover {
    background-color: #3D3D3D;
}

.tag1 {
    color: #000000;
    background-color: #FFFFFF;
}

.tag1:hover {
    background-color: #FFFFFF;
}

.videos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    margin: 0 16px 0 16px;
    padding-top: 24px;
}

.videos>div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 8px 40px 8px;
}

.thumbnail img {
    border-radius: 10px;
    width: 280px;
}

.video-content {
    display: grid;
    grid-template-columns: 12% 88%;
    gap: 5px;
}

.channel-pic img {
    width: 30px;
    border-radius: 50%;
    margin: 12px 12px 0 0;
}

.title {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 12px 0 4px 0;
}

.description {
    padding-right: 24px;
}

.channel, .views-time {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #AAAAAA;
}

.channel {
    margin-bottom: 4px;
}

a {
    text-decoration: none;
}

.channel:hover {
    color: #FFFFFF;
}

 /* Responsive */

@media only screen and (min-width: 300px) {
    .menubar-desktop {
        display: none;
    }
    
    .content {
        display: grid;
        grid-template-columns: 100%;
    }

    .videos {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        gap: 0px;
    }

    .thumbnail img {
        width: 434.984px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 10% 90%;
        gap: 5px;
        width: 434.984px;
    }

    .channel-pic img {
        width: 36px;
        border-radius: 50%;
        margin: 8px 8px 0 0;
    }

    .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 10px 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 350px;
    }

    .channel, .views-time {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #AAAAAA;
    }

    .tag {
        text-wrap: nowrap;
    }

    .tag5, .tag6, .tag7, .tag8, .tag9, .tag10, .tag11, .tag12, .tag13, .tag14 {
        display: none;
    }

    .next {
        border-radius: 50%;
        background-color: transparent;
        padding: 8px;
        margin-left: 5px;
    }
    
    .next {
        margin-left: 0px;
    }
    
    .next:hover {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 560px) {
    .thumbnail img {
        width: 499.984px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 10% 90%;
        gap: 5px;
        width: 434.984px;
    }

    .channel-pic img {
        width: 36px;
        border-radius: 50%;
        margin: 8px 8px 0 0;
    }

    .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 10px 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 400px;
    }

    .tag1, .tag2, .tag3, .tag4, .tag5 {
        display: flex;
    }
}

@media only screen and (min-width: 685px) {
    .videos {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        align-items: center;
        gap: 0px;
    }

    .thumbnail img {
        width: 310.484px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 13% 87%;
        gap: 5px;
        width: 310.484px;
    }

    .channel-pic img {
        width: 36px;
        border-radius: 50%;
        margin: 8px 8px 0 0;
    }

    .title {
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 10px 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 245px;
    }

    .channel, .views-time {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        color: #AAAAAA;
    }

    .tag1, .tag2, .tag3, .tag4, .tag5, .tag6 {
        display: flex;
    }

}

@media only screen and (min-width: 770px) {
    .thumbnail img {
        width: 353.984px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 13% 87%;
        gap: 5px;
        width: 353.984px;
    }

    .channel-pic img {
        width: 36px;
        border-radius: 50%;
        margin: 8px 8px 0 0;
    }

    .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 10px 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 245px;
    }

    .channel, .views-time {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #AAAAAA;
    }

    .tag1, .tag2, .tag3, .tag4, .tag5, .tag6, .tag7 {
        display: flex;
    }

    input {
        width: 275px;
    }
}

@media only screen and (min-width: 779px) {
    .menubar-desktop {
        display: flex;
    }

    .full-searchbar {
        display: flex;
    }
    
    .content {
        display: grid;
        grid-template-columns: 10% 90%;
    }

    .videos {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        align-items: center;
        gap: 0px;
    }

    .thumbnail img {
        width: 320.984px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 13% 87%;
        gap: 5px;
        width: 320.984px;
    }

    .channel-pic img {
        width: 36px;
        border-radius: 50%;
        margin: 8px 8px 0 0;
    }

    .tag7, .tag8, .tag9, .tag10, .tag11, .tag12 {
        display: none;
    }

    input {
        width: 150px;
    }

    .search-button-responsive, .voice-search-responsive {
        display: none;
    }
}

@media only screen and (min-width: 901px) {
    .content {
        display: grid;
        grid-template-columns: 8% 92%;
    }

    .thumbnail img {
        width: 382.484px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 13% 87%;
        gap: 5px;
        width: 382.484px;
    }

    .channel-pic img {
        width: 36px;
        border-radius: 50%;
        margin: 8px 8px 0 0;
    }

    .tag1, .tag2, .tag3, .tag4, .tag5, .tag6, .tag7 {
        display: flex;
    }
    
    input {
        width: 250px;
    }

    .search-button-responsive, .voice-search-responsive {
        display: none;
    }
}  

@media only screen and (min-width: 1041px) {
    .content {
        display: grid;
        grid-template-columns: 7% 93%;
    }

    .thumbnail img {
        width: 452.484px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 10% 90%;
        gap: 5px;
        width: 452.484px;
    }

    .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 10px 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 350px;
    }

    .tag1, .tag2, .tag3, .tag4, .tag5, .tag6, .tag7, .tag8, .tag9 {
        display: flex;
    }
    
    input {
        width: 370px;
    }
}  

@media only screen and (min-width: 1225px) {
    .content {
        display: grid;
        grid-template-columns: 6% 94%;
    }

    .videos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        gap: 0px;
    }

    .thumbnail img {
        width: 356.312px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 13% 87%;
        gap: 5px;
        width: 356.312px;
    }

    .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 10px 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 255px;
    }

    .tag1, .tag2, .tag3, .tag4, .tag5, .tag6, .tag7, .tag8, .tag9, .tag10, .tag11 {
        display: flex;
    }
    
    input {
        width: 470px;
    }
}  

@media only screen and (min-width: 1343px) {
    .thumbnail img {
        width: 396.984px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 13% 87%;
        gap: 5px;
        width: 396.984px;
    }

    .channel-pic img {
        width: 36px;
        border-radius: 50%;
        margin: 8px 8px 0 0;
    }

    .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 10px 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 300px;
    }

    .tag1, .tag2, .tag3, .tag4, .tag5, .tag6, .tag7, .tag8, .tag9, .tag10, .tag11, .tag12 {
        display: flex;
    }

    input {
        width: 470px;
    }
}  

@media only screen and (min-width: 1450px) {
    .content {
        display: grid;
        grid-template-columns: 5% 95%;
    }

    .videos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        gap: 0px;
    }

    .thumbnail img {
        width: 331.042px;
    }

    .video-content {
        display: grid;
        grid-template-columns: 13% 87%;
        gap: 5px;
        width: 331.042px;
    }

    .title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        margin: 10px 0 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: px;
    }

    .tag {
        display: flex;
    }
    
    input {
        width: 500px;
    }
}  